[user]
	email = hi@ck.dev
	name = toph
	signingkey = /Users/ck/.ssh/id_ed25519.pub
[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	default = current
[credential]
	helper = osxkeychain
[includeIf "gitdir:~/workspace/"]
  path = ~/workspace/.gitconfig_include
[gpg]
	format = ssh
[commit]
	gpgsign = true
