Brewfile.lock.json

.Trash
Applications
Desktop
Documents
Downloads
Dropbox
Library
Library/Caches/
Movies
Music
Pictures
Public
Sync

workspace

.asdf
.aws
.cache
.cargo
.local/share/
.local/state/
.node-gyp
.nixpkgs
.pnpm-state
.rustup
.yarn
.zsh_sessions
.sbt
.npm
.ssh
.vscode

.bash_history
.lesshst
.node_repl_history
.psql_history
.python_history
.scala_history
.viminfo

.config/gh/hosts.yml
.config/astronvim/lua/user/extra.lua
