
#tabbrowser-tabbox {
  border-radius: var(--border-radius-large) !important;
  margin-right: var(--space-small) !important;
  margin-bottom: var(--space-small) !important;
}

#tabbrowser-tabs[orient="vertical"] .tabbrowser-tab {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-block: 0px 0px !important;
}
